version: 2

updates:
- package-ecosystem: github-actions
  directory: /
  schedule:
    interval: monthly
  assignees:
  - ffurrer2
  labels:
  - dependabot
  open-pull-requests-limit: 999
  rebase-strategy: auto
  groups:
    actions-minor:
      update-types:
      - minor
      - patch

- package-ecosystem: npm
  directory: /
  schedule:
    interval: monthly
  assignees:
  - ffurrer2
  labels:
  - dependabot
  open-pull-requests-limit: 999
  rebase-strategy: auto
  groups:
    npm-minor:
      patterns:
      - '*'
      update-types:
      - minor
      - patch
