# SPDX-License-Identifier: MIT
version: 2

updates:
- package-ecosystem: github-actions
  directory: '/'
  schedule:
    interval: 'weekly'
  assignees:
  - 'ffurrer2'
  labels:
  - 'dependabot'
  open-pull-requests-limit: 999
  rebase-strategy: 'auto'

- package-ecosystem: npm
  directory: '/'
  schedule:
    interval: 'weekly'
  assignees:
  - 'ffurrer2'
  labels:
  - 'dependabot'
  open-pull-requests-limit: 999
  rebase-strategy: 'auto'
