# SPDX-License-Identifier: MIT
*               text=auto
.gitattributes  text eol=lf
.gitignore      text eol=lf

dist/** -diff linguist-generated=true

*.js    text eol=lf
*.json  text eol=lf
*.md    text eol=lf
*.yml   text eol=lf
