# SPDX-License-Identifier: MIT
name: CI

on:
  pull_request:
    branches:
    - main
  push:
    branches:
    - main
    paths-ignore:
    - '**.md'
    - '.gitignore'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    steps:
    - name: Checkout
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

    - name: Setup Node.js
      uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
      with:
        node-version-file: .node-version
        cache: npm

    - name: Install packages
      run: |
        npm ci

    - name: Compile Node.js module
      run: |
        npm run all

    - name: Run action
      id: extract-release-notes-1
      uses: ./

    - name: Assert that release_notes output is not empty
      shell: bash
      env:
        RELEASE_NOTES: ${{ steps.extract-release-notes-1.outputs.release_notes }}
      run: |
        test -n "${RELEASE_NOTES}"

    - name: Run action
      id: extract-release-notes-2
      uses: ./
      with:
        release_notes_file: RELEASE_NOTES.md

    - name: Assert that RELEASE_NOTES.md exists
      shell: bash
      run: |
        test -f RELEASE_NOTES.md

    - name: Run action
      id: extract-release-notes-3
      uses: ./
      with:
        changelog_file: test/testdata/CHANGELOG_1.md

    - name: Assert that release_notes output contains expected content
      shell: bash
      env:
        RELEASE_NOTES: ${{ steps.extract-release-notes-3.outputs.release_notes }}
      run: |
        diff <(echo -n "${RELEASE_NOTES}") test/testdata/expected/RELEASE_NOTES_1.md

    - name: Run action
      id: extract-release-notes-4
      uses: ./
      with:
        changelog_file: test/testdata/CHANGELOG_2.md

    - name: Assert that release_notes output contains expected content
      shell: bash
      env:
        RELEASE_NOTES: ${{ steps.extract-release-notes-4.outputs.release_notes }}
      run: |
        diff <(echo -n "${RELEASE_NOTES}") test/testdata/expected/RELEASE_NOTES_2.md

    - name: Run action
      id: extract-release-notes-5
      uses: ./
      with:
        changelog_file: test/testdata/CHANGELOG_3.md

    - name: Assert that release_notes output contains expected content
      shell: bash
      env:
        RELEASE_NOTES: ${{ steps.extract-release-notes-5.outputs.release_notes }}
      run: |
        diff <(echo -n "${RELEASE_NOTES}") test/testdata/expected/RELEASE_NOTES_3.md

    - name: Run action
      id: extract-release-notes-6
      uses: ./
      with:
        changelog_file: test/testdata/CHANGELOG_4.md
        prerelease: true

    - name: Assert that release_notes output contains expected content
      shell: bash
      env:
        RELEASE_NOTES: ${{ steps.extract-release-notes-6.outputs.release_notes }}
      run: |
        diff <(echo -n "${RELEASE_NOTES}") test/testdata/expected/RELEASE_NOTES_4.md

    - name: Run action
      id: extract-release-notes-7
      uses: ./
      with:
        changelog_file: test/testdata/CHANGELOG_1.md
        release_notes_file: RELEASE_NOTES.md

    - name: Assert that RELEASE_NOTES.md contains expected content
      shell: bash
      env:
        RELEASE_NOTES: ${{ steps.extract-release-notes-7.outputs.release_notes }}
      run: |
        diff RELEASE_NOTES.md test/testdata/expected/RELEASE_NOTES_1.md

    - name: Run action
      id: extract-release-notes-8
      uses: ./
      with:
        changelog_file: test/testdata/CHANGELOG_2.md
        release_notes_file: RELEASE_NOTES.md

    - name: Assert that RELEASE_NOTES.md contains expected content
      shell: bash
      env:
        RELEASE_NOTES: ${{ steps.extract-release-notes-8.outputs.release_notes }}
      run: |
        diff RELEASE_NOTES.md test/testdata/expected/RELEASE_NOTES_2.md

    - name: Run action
      id: extract-release-notes-9
      uses: ./
      with:
        changelog_file: test/testdata/CHANGELOG_3.md
        release_notes_file: RELEASE_NOTES.md

    - name: Assert that RELEASE_NOTES.md contains expected content
      shell: bash
      env:
        RELEASE_NOTES: ${{ steps.extract-release-notes-9.outputs.release_notes }}
      run: |
        diff RELEASE_NOTES.md test/testdata/expected/RELEASE_NOTES_3.md

    - name: Run action
      id: extract-release-notes-10
      uses: ./
      with:
        changelog_file: test/testdata/CHANGELOG_5.md
        release_notes_file: RELEASE_NOTES.md

    - name: Assert that RELEASE_NOTES.md contains expected content
      shell: bash
      env:
        RELEASE_NOTES: ${{ steps.extract-release-notes-10.outputs.release_notes }}
      run: |
        diff RELEASE_NOTES.md test/testdata/expected/RELEASE_NOTES_5.md
