# SPDX-License-Identifier: MIT
name: Licensed

on:
  push:
    branches:
    - main
    - feature/**
    paths:
    - .github/workflows/licensed.yml
    - .licensed.yml
    - .licenses/**
    - package-lock.json
    - package.json

jobs:
  licensed:
    name: Check licenses
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

    - name: Setup ruby
      uses: ruby/setup-ruby@922ebc4c5262cd14e07bb0e1db020984b6c064fe # v1.226.0
      with:
        ruby-version: ruby

    - name: Setup Licensed
      uses: licensee/setup-licensed@0d52e575b3258417672be0dff2f115d7db8771d8 # v1.3.2
      with:
        github_token: '${{ secrets.GITHUB_TOKEN }}'
        version: '4.x'

    - name: Setup Node.js
      uses: actions/setup-node@cdca7365b2dadb8aad0a33bc7601856ffabcc48e # v4.3.0
      with:
        node-version: 20.x

    - uses: actions/cache@d4323d4df104b026a6aa633fdb11d772146be0bf # v4.2.2
      with:
        path: ~/.npm
        key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
        restore-keys: |
          ${{ runner.os }}-node-

    - name: Install packages
      run: |
        npm ci

    - name: Check licensed status
      run: |
        licensed status
