# SPDX-License-Identifier: MIT
name: Licensed

on:
  push:
    branches:
    - main
    paths:
    - .github/workflows/licensed.yml
    - .licensed.yml
    - .licenses/**
    - package-lock.json
    - package.json

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  licensed:
    name: Check licenses
    permissions:
      contents: read
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

    - name: Setup Node.js
      uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
      with:
        node-version-file: .node-version
        cache: npm

    - name: Install packages
      run: |
        npm ci

    - name: Setup Ruby
      uses: ruby/setup-ruby@13e7a03dc3ac6c3798f4570bfead2aed4d96abfb # v1.244.0
      with:
        ruby-version: ruby

    - name: Setup Licensed
      uses: licensee/setup-licensed@0d52e575b3258417672be0dff2f115d7db8771d8 # v1.3.2
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        version: 4.x

    - name: Check Licenses
      run: |
        licensed status
