# SPDX-License-Identifier: MIT
name: markdownlint

on:
  pull_request:
    branches:
    - main
    paths:
    - '**.md'
    - '.github/linters/.markdown-lint.yml'
    - '.github/workflows/markdownlint.yml'
  push:
    branches:
    - main
    paths:
    - '**.md'
    - '.github/linters/.markdown-lint.yml'
    - '.github/workflows/markdownlint.yml'

jobs:
  markdownlint:
    name: markdownlint
    uses: ffurrer2/shared-workflows/.github/workflows/markdownlint.yml@d65c1588151734f0d806b9cea91dcbff1bf062d8
    with:
      ignore-files: 'test/testdata/expected'
