# SPDX-License-Identifier: MIT
name: markdownlint

on:
  push:
    branches:
    - main
    - feature/**
    paths:
    - '**.md'
    - '.github/linters/.markdown-lint.yml'
    - '.github/workflows/markdownlint.yml'
  pull_request:
    branches:
    - main
    paths:
    - '**.md'
    - '.github/linters/.markdown-lint.yml'
    - '.github/workflows/markdownlint.yml'

jobs:
  markdownlint:
    name: markdownlint
    uses: ffurrer2/shared-workflows/.github/workflows/markdownlint.yml@81fb1d6670ac78d6be6b2ca148bbcf547d74e541
    with:
      ignore-files: 'test/testdata/expected'
