# SPDX-License-Identifier: MIT
name: markdownlint

on:
  pull_request:
    branches:
    - main
    paths:
    - '**.md'
    - '.github/linters/.markdown-lint.yml'
    - '.github/workflows/markdownlint.yml'
  push:
    branches:
    - main
    paths:
    - '**.md'
    - '.github/linters/.markdown-lint.yml'
    - '.github/workflows/markdownlint.yml'

jobs:
  markdownlint:
    name: markdownlint
    uses: ffurrer2/shared-workflows/.github/workflows/markdownlint.yml@b0a54d0c56cb7194608e4144d2b7e17eb18601c2
    with:
      ignore-files: 'test/testdata/expected'
