# SPDX-License-Identifier: MIT
name: yamllint

on:
  push:
    branches:
    - main
    paths:
    - '**.ya?ml'
  pull_request:
    branches:
    - main
    paths:
    - '**.ya?ml'

permissions:
  contents: read

jobs:
  yamllint:
    name: yamllint
    uses: ffurrer2/shared-workflows/.github/workflows/yamllint.yml@11e94ac74bdd60c2a695b8d46a436811581fee27
