# SPDX-License-Identifier: MIT
name: yamllint

on:
  push:
    branches:
    - main
    - feature/**
    - dependabot/**
    paths:
    - '**.ya?ml'

jobs:
  yamllint:
    runs-on: ubuntu-22.04
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: yamllint
      uses: docker://docker.io/cytopia/yamllint:latest
      with:
        entrypoint: /usr/bin/yamllint
        args: '--config-file .github/linters/.yaml-lint.yml --format github --strict .'
